<?xml version="1.0" encoding="UTF-8"?>
<configuration>
   <configSections>
   </configSections>
  <connectionStrings>
    <add name="school.Properties.Settings.cssConnectionString1" connectionString="server=52.58.244.255;User Id=root;password='ys5xJDVmwhf1';Persist Security Info=True;database=css"
      providerName="MySql.Data.MySqlClient" />
    <add name="school.Properties.Settings.cssConnectionString" connectionString="server=localhost;user id=root;database=school"
      providerName="MySql.Data.MySqlClient" />    
  </connectionStrings>
  <appSettings>
    <!-- If running multiple engines in parallel, and the machine has hyperthreading enabled, declare it here for better performance -->
    <add key="hyperthreading_enabled" value="yes"/>
    <!-- define your text viewer. notepad++ is recommended. Make sure it is in the path, or add an absolute path. -->
    <add key="text_viewer" value="notepad++"/>
    <!-- Enable running engines on a cluster (such as Technion's Tamnun). See installation document for details -->
    <add key="Enable_remote_engines" value="true"/>
    
    
    <!--Faculty specific information-->
    <!--Min and max course # for this faculty -->
    <add key="MinFacultyCourse" value="0"/>
    <add key="MaxFacultyCourse" value="99999"/>

    

    
    <!--Min and max course # for graduate-only courses in this faculty -->
    <add key="MinFacultyGraduateOnlyCourse" value="98000"/>
    <add key="MaxFacultyGraduateOnlyCourse" value="99999"/>
    <!--If there are courses that have multiple groups and are taken by several populations, and hence the scheduler is allowed to overlap them with other mandatory courses-->
    <add key="CoursesAllowedToOverlap" value="094313, 094323, 094314, 094423, 094412" /> <!-- דטרמיניסטים, מערכות דינמיות,סטוכסטיים,מבוא לסטטיסטיקה,הסתברות מ', נלקח בעיקר על ידי מהמ"ח.-->
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
